<%# Unit 4, Assignment 4, Task 3 %>
<% if (title) {%>
<h1>
  <%= title %>
</h1>
<%} else {res.redirect('/')} %>

<%- messages() %>

<% if (errors) { %>
<ul class="message warning">
  <% errors.array().forEach(error => { %>
  <li><%= error.msg %></li>
  <%  }) %>
</ul>
<% } %>

<div id="registerContainer">
  <p>All fields are required.</p>
  <form action="/inv/addInventory" method="post">
    <fieldset>
      <label for="classificationList">Classification</label>
      <%- classificationSelect %>

      <label for="invMake">Make</label>
      <input type="text" name="inv_make" id="invMake" required minlength="3" placeholder="Min of 3 characters" <% if(locals.inv_make) { %> value="<%= locals.inv_make %>" <% } %>>

      <label for="invModel">Model</label>
      <input type="text" name="inv_model" id="invModel" required minlength="3" placeholder="Min of 3 characters" <% if(locals.inv_model) { %> value="<%= locals.inv_model %>" <% } %>>

      <label for="invDescription">Description</label>
      <textarea id="invDescription" name="inv_description" required><% if(locals.inv_description) { %><%= locals.inv_description %><% } %></textarea>

      <label for="invImage">Image Path</label>
      <input type="text" name="inv_image" id="invImage" size="30" required <% if(locals.inv_image) { %> value="<%= locals.inv_image %>" <% } else { %> value="/images/vehicles/no-image.png" <% } %>>

      <label for="invThumbnail">Thumbnail Path</label>
      <input type="text" name="inv_thumbnail" id="invThumbnail" size="30" required <% if(locals.inv_image) { %> value="<%= locals.inv_image %>" <% } else { %> value="/images/vehicles/no-image.png" <% } %>>

      <label for="invPrice">Price</label>
      <input type="text" name="inv_price" id="invPrice" size="10" placeholder="decimal or integer numbers only" required pattern="^[1-9]\d*(\.\d+)?$" <% if(locals.inv_price) { %> value="<%= locals.inv_price %>" <% } %>>

      <label for="invYear">Year</label>
      <input type="text" name="inv_year" id="invYear" size="10" placeholder="4-digit year" required minlength="4" maxlength="4" pattern="^(19|20)\d{2}$" <% if(locals.inv_year) { %> value="<%= locals.inv_year %>" <% } %>>

      <label for="invMiles">Miles</label>
      <input type="text" name="inv_miles" id="invMiles" size="10" placeholder="digits only" required pattern="^\d+$" <% if(locals.inv_miles) { %> value="<%= locals.inv_miles %>" <% } %>>

      <label for="invColor">Color</label>
      <input type="text" name="inv_color" id="invColor" required <% if(locals.inv_color) { %> value="<%= locals.inv_color %>" <% } %>>

      <button type="submit">Add Vehicle</button>
    </fieldset>
  </form>
</div>